.flone-ajax-loading::before {
    content: "";
    background-image: url(loading.gif);
    background-repeat: no-repeat;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center center;
    z-index: 99;
    height: 100vh;
}